body{
    max-width: 960px;
    background-color: #e998a4;
    color: white;
    text-align: center;
}

header{
    text-align: center;
}
header h1:hover{
    color: black;
}

h3{
    font-size: small;
}

main h4{
    margin-left: 30%;
    color: black;
    font-size: larger;
}

.prophet{
    text-align: center;
}

.quote{
    text-align: center;
    font-size: 50px;
}

footer p{
    margin: 0;
    text-align: center;
    color: black;
}