nav{
    background-color: steelblue;
    padding: 10px;
}
#active{
    background-color: white;
    color: steelblue;
}

a{
    color: white;
    margin: 40px;
    font-size: 1.5em;
}

h1{
    color: steelblue;
    text-align: center;
}

img{
    width: 80%;
    border: 4px solid steelblue;
    display: block;
    margin: 0 auto;
}

p .main-para{
    padding: 80%;
}

.main-para{
    font-size: 1.5em;
    line-height: 1.5em;
}

footer{
    background-color: steelblue;
    color: white;
}

nav,footer{
    text-align: center;
}

main p{
    width: 80%;
    margin: 50px auto;
}